/* CSS Document */

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    color: #fff;
    background-color: #202225;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}


/* Server List */

nav {
    width: 19.5em;
    display: flex;
    background-color: #202225;
}

nav div:nth-of-type(1) {
    width: 72px;
    /* display: flex; */
    flex-direction: column;
}

nav div:nth-of-type(1)>ul {
    margin-left: -1.7em;
    margin-top: 0;
}

nav div:nth-of-type(1)>button {
    background-color: #36393F;
    color: #DCDDDE;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    border: none;
}

.dm-button-selected>img {
    background-color: #7289DA !important;
}


/**/

nav div:nth-of-type(1)>a:nth-of-type(1)>img {
    background-color: #36393F;
    max-width: 48px;
    max-height: 48px;
    border-radius: 100%;
    margin-top: 1em;
    margin-left: 0.8em;
}

nav div:nth-of-type(1)>div:nth-of-type(1) {
    background-color: #36393F;
    border-radius: 1.2em 1.2em 2em 2em;
    width: 48px;
    margin-left: 0.9em;
    height: 10em;
    margin-bottom: 0.7em;
}

nav div:nth-of-type(1)>div>ul>li>a>img {
    margin-left: -0.8em;
    margin-top: 0.2em;
}

nav div:nth-of-type(1)>div:nth-of-type(1)>button {
    background-image: url("../images/folder.png");
    /*gotta fix*/
    background-size: cover;
    margin-top: 0px;
    background-color: #36393f;
}

nav div:nth-of-type(1)>button:nth-of-type(1) {
    background-image: url("../images/add_server.png");
    background-size: cover;
    margin: -0.9em auto 0;
    display: flex;
}

nav div:nth-of-type(1)>ul>li>a>img {
    background-color: #36393F;
    max-width: 48px;
    max-height: 48px;
    border-radius: 100%;
}

nav div:nth-of-type(1)>hr {
    width: 36px;
    color: #2D2F31;
    margin-bottom: 0.8em;
}

nav div:nth-of-type(1)>ul:nth-of-type(2) {
    margin-top: -1em;
}

nav div:nth-of-type(1)>ul>li {
    margin-top: 0.2em;
}


/* Channel List */

nav div:nth-of-type(2) {
    background-color: #2F3136;
    width: 15em;
    /* 240px */
    color: #8E9297;
    display: flex;
    flex-direction: column;
    border-radius: 1em 1em 0 0;
}

nav div:nth-of-type(2) h2 {
    color: #fff;
    font-size: 1em;
    margin: 1em 0 0 1em;
}

nav div:nth-of-type(2) input {
    color: #8E9297;
    background-color: #202225;
    border: none;
    border-radius: 0.5em;
    margin: 0 1em;
    padding: 1em;
    font-weight: bold;
    background-image: url("../images/search.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50px 50px;
    font-size: 12px;
    background-position: 14.4em;
}

.dm-user-list>ul {
    margin-left: -40px;
}

.dm-user-list>ul>li {
    margin: 1em 0 0 1em;
}

.dm-user-list>ul>li>a>img {
    width: 40px;
    height: 40px;
    margin-right: 1em;
}

.dm-user-list>ul>li>a>p {
    font-weight: bold;
    margin-top: 0.8em;
}

.dm-user-list>ul>li>a {
    color: #8E9297;
    display: flex;
}

.dm-user-list>div>button {
    background-image: url("../images/invite_dm.png") !important;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
}

.selectedDM {
    background-color: #42464D;
    padding: 10px 0 6px 10px;
    border-radius: 0.4em;
    margin-right: 0.5em !important;
    margin-left: 0.5em !important;
}

.selectedDM a {
    color: #fff !important;
}


/* Invite members*/

nav div:nth-of-type(2)>button:nth-of-type(1) {
    height: 36px;
    margin: 15px;
    border-radius: 0.4em;
    border: none;
    background-color: #4F545C;
    color: #fff;
    font-weight: bold;
}

nav div:nth-of-type(2) div:nth-of-type(1) {
    height: 50px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 100%;
}

nav div:nth-of-type(2) div:nth-of-type(1) button:nth-of-type(1) {
    background-color: transparent;
    color: #fff;
    border: none;
    width: 50px;
    background-image: url("../images/server_settings.png");
    margin: 0px;
}

nav div:nth-of-type(2) div:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    border-radius: 0;
    height: 36px;
}

nav div:nth-of-type(2) div:nth-of-type(2) button:nth-of-type(1) {
    height: 36px;
    margin: 0px;
    border-radius: 0;
    border: none;
    background-color: transparent;
    color: #8E9297;
    font-weight: bold;
    width: 95%;
    padding-right: 40%;
}

nav div:nth-of-type(2) div:nth-of-type(2) button:nth-of-type(2) {
    width: 14%;
    color: #8E9297;
    font-weight: bold;
    border: none;
    background-color: transparent;
}

nav div:nth-of-type(2) {
    display: flex;
}


/* Settings enzo */

nav div:nth-of-type(3) {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #18191C;
    z-index: 1;
}

nav div:nth-of-type(3)>ul {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav div:nth-of-type(3)>ul>li {
    height: 100%;
}

nav div:nth-of-type(3)>ul>li>button {
    height: 100%;
    background-color: transparent;
    width: 5.4em;
    border: none;
}

nav div:nth-of-type(3)>ul>li:nth-of-type(1)>button {
    background-image: url("../images/settings_knop_1.png");
    background-size: cover;
}

nav div:nth-of-type(3)>ul>li:nth-of-type(2)>button {
    background-image: url("../images/settings_knop_2.png");
    background-size: cover;
}

nav div:nth-of-type(3)>ul>li:nth-of-type(3)>button {
    background-image: url("../images/settings_knop_3.png");
    background-size: cover;
}

nav div:nth-of-type(3)>ul>li:nth-of-type(4)>button {
    background-image: url("../images/settings_knop_4.png");
    background-size: cover;
}

nav div:nth-of-type(3)>ul>li:nth-of-type(5)>button {
    background-image: url("../images/settings_knop_5.png");
    background-size: cover;
}


/*Chat scherm*/

main {
    width: 360px;
    background-color: #36393F;
    border-radius: 1em 1em 0 0;
    margin: 0 10px;
}

main>div:nth-of-type(1) {
    height: 50px;
    background-color: #2F3136;
    border-radius: 1em 1em 0 0;
    display: flex;
}

.dm-user-buttons>div {
    margin-left: 4em;
}

.dm-user-buttons>div>button:nth-of-type(1) {
    background-image: url("../images/call.png") !important;
    background-position: center;
}

.dm-user-buttons>div>button:nth-of-type(2) {
    border-radius: 0 !important;
    background-image: url("../images/video_call.png") !important;
    background-position: center;
}

.dm-user-buttons>div>button:nth-of-type(3) {
    border-radius: 0 1em 0 0;
    border: none;
    width: 50px;
    background-image: url("../images/friends.png");
    background-size: cover;
    background-position: center;
    background-color: #2F3136;
}

main>div:nth-of-type(1) h3 {
    font-size: 1em;
}

.dm-user-buttons h3 {
    margin-left: 1em;
}

main>div:nth-of-type(1) button:nth-of-type(1) {
    border-radius: 1em 0 0 0;
    border: none;
    width: 50px;
    height: 50px;
    background-color: #2F3136;
    background-image: url("../images/hamburger.png");
    background-size: cover;
}

main>div:nth-of-type(1) button:nth-of-type(2) {
    border: none;
    width: 50px;
    height: 50px;
    background-color: #2F3136;
    background-image: url("../images/search.png");
    background-size: cover;
}

main>div:nth-of-type(1) button:nth-of-type(3) {
    border-radius: 0 1em 0 0;
    border: none;
    width: 50px;
    height: 50px;
    background-color: #2F3136;
    background-image: url("../images/friends.png");
    background-size: cover;
}

main>div:nth-of-type(2) {
    position: absolute;
    bottom: 0;
    display: flex;
    margin-bottom: 10px;
    z-index: 0;
}

main>ul {
    margin-left: -1.8em;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 4em;
}

main>ul>li>div {
    display: flex;
}

main>ul>li>p {
    margin-left: 4.1em;
    margin-top: -1em;
}

main>ul>li>div>img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

main>ul>li>div>p {
    margin-left: 1em;
    margin-top: 4px;
    color: #fdb927;
    font-weight: bold;
}

main>ul>li>div>p>span {
    font-size: 0.8em;
    color: #8E9297;
    font-weight: normal;
    word-spacing: -1px;
}

.chat-title-buttons {
    margin-left: 4em;
}


/* Chatbox */

main>div:nth-of-type(2) {}

main>div:nth-of-type(2)>input {
    height: 40px;
    border-radius: 2em;
    border: none;
    padding: 0 16px;
    margin-left: 10px;
    width: 240px;
    background-color: #292B2F;
    color: #DCDDDE;
}

main>div:nth-of-type(2)>button {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    border-radius: 100%;
    border: none;
    background-color: #292B2F;
}

main>div:nth-of-type(2)>button:nth-of-type(1) {
    background-image: url("../images/camera.png");
    background-size: cover;
}

main>div:nth-of-type(2)>button:nth-of-type(2) {
    background-image: url("../images/gallery.png");
    background-size: cover;
}

main>div:nth-of-type(2)>button:nth-of-type(3) {
    background-image: url("../images/emotes.png");
    background-size: cover;
    margin-left: -40px !important;
}


/* Members List */

section:nth-of-type(1) {
    background-color: #36393F;
    width: 19em;
    display: flex;
    flex-direction: column;
    border-radius: 1em 1em 0 0;
}

section:nth-of-type(1)>h3 {
    background-color: #2F3136;
    width: 100%;
    padding: 20px;
    border-radius: 1em 1em 0 0;
    margin-top: -1px;
}

section:nth-of-type(1)>ul:nth-of-type(1) {
    display: flex;
    background-color: #2F3136;
    padding-left: 2px;
    border-top: 1px solid #4F545C;
    margin-top: -20px;
    padding-bottom: 12px;
}

section:nth-of-type(1)>ul:nth-of-type(1)>li {
    color: #B8BABD;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
}

section:nth-of-type(1)>ul:nth-of-type(2)>li>img {
    width: 50px;
    height: 50px;
}

section:nth-of-type(1)>ul:nth-of-type(3)>li>img {
    width: 50px;
    height: 50px;
}

section:nth-of-type(1)>ul>li>button {
    width: 70px;
    height: 50px;
    border: none;
    background-color: #2F3136;
}

section:nth-of-type(1)>ul>li:nth-of-type(1)>button {
    background-image: url("../images/Search2.png");
    background-size: cover;
}

section:nth-of-type(1)>ul>li:nth-of-type(2)>button {
    background-image: url("../images/Pins.png");
    background-size: cover;
}

section:nth-of-type(1)>ul>li:nth-of-type(3)>button {
    background-image: url("../images/Notifications.png");
    background-size: cover;
}

section:nth-of-type(1)>ul>li:nth-of-type(4)>button {
    background-image: url("../images/Settings.png");
    background-size: cover;
}

section:nth-of-type(1)>ul:nth-of-type(2)>li {
    display: flex;
    margin-left: -1em;
    margin-bottom: 1.5em;
}

section:nth-of-type(1)>ul:nth-of-type(3)>li {
    display: flex;
    margin-left: -1em;
    margin-bottom: 1.5em;
}

section:nth-of-type(1)>ul:nth-of-type(2)>li>p {
    margin-left: 1em;
}

section:nth-of-type(1)>ul:nth-of-type(3)>li>p {
    margin-left: 1em;
}

section:nth-of-type(1)>h4 {
    color: #777B83;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    margin-left: 2em;
    margin-bottom: 0.5em;
    margin-top: -1em;
}

section:nth-of-type(1)>a {
    display: flex;
    align-items: center;
    margin-bottom: 3em;
}

section:nth-of-type(1)>a>img {
    background-image: url("../images/Invite.png");
    background-size: cover;
    width: 50px;
    height: 50px;
    border: none;
    background-color: #2F3136;
    border-radius: 100%;
    margin: 0 25px;
}

.dm-title {
    display: flex;
}

.dm-title h3 {
    background-color: #2F3136;
    width: 100%;
    padding: 20px;
    border-radius: 1em 0 0 0;
    margin-top: -1px;
}

.dm-title button {
    background-color: #2F3136;
    color: #fff;
    border: none;
    width: 50px;
    background-image: url("../images/server_settings.png");
    border-radius: 0 1em 0 0;
}

.dm-member-buttons li:nth-of-type(1) button {
    background-image: url("../images/call2.png") !important;
}

.dm-member-buttons li:nth-of-type(2) button {
    background-image: url("../images/video_call2.png") !important;
}

.dm-member-buttons li:nth-of-type(3) button {
    background-image: url("../images/Notifications.png") !important;
}

.dm-member-buttons li:nth-of-type(4) button {
    background-image: url("../images/search2.png") !important;
}


/*Js*/

.hideBottomMenu {
    transition: 0.5s;
    transform: translate(0, 100px);
}

.showBottomMenu {
    transition: 0.5s;
    transform: translate(0, 0);
}

.scrollLeft {
    transition: 0.5s;
    transform: translate(-45vh, 0);
}

.scrollRight {
    transition: 0.5s;
    transform: translate(0vh, 0);
}