/* CSS Document */

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
    color: #fff;
    background-color: #202225;
    overflow-y: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}


/* Server List */

nav {
    /* Server List, Channel List & Settings*/
    width: 312px;
    display: flex;
    background-color: #202225;
}

nav div:nth-of-type(1) {
    /* Server List container */
    width: 72px;
    z-index: 1;
}

nav div:nth-of-type(1)>a:nth-of-type(1)>img {
    /* DM Button */
    background-color: #36393F;
    max-width: 48px;
    max-height: 48px;
    border-radius: 100%;
    margin-top: 16px;
    margin-left: 12.8px;
}

.dm-button-selected>img {
    /* DM Button on DM Page */
    background-color: #7289DA !important;
    border-radius: 40% !important;
}

nav div:nth-of-type(1)>a:nth-of-type(1):hover>img {
    /* DM Button Hover State*/
    background-color: #7289DA !important;
    border-radius: 40%;
    transition: 0.1s;
}

nav div:nth-of-type(1)>a:nth-of-type(1):active>img {
    /* DM Button Active State*/
    background-color: #7289DA !important;
}

nav div:nth-of-type(1)>a:nth-of-type(1):focus>img {
    /* DM Button Focus State*/
    background-color: #ff0000 !important;
    border-radius: 40%;
    outline: none;
}

nav div:nth-of-type(1)>hr {
    /* hr between DM button and Server List*/
    width: 36px;
    color: #2D2F31;
    margin-bottom: 12.8px;
}

nav div:nth-of-type(1)>ul {
    /* Server Icons ul*/
    margin-left: -27.2px;
}

nav div:nth-of-type(1)>div:nth-of-type(1) {
    /* Server Folder container*/
    background-color: #36393F;
    border-radius: 19.2px 19.2px 32px 32px;
    width: 48px;
    margin-left: 14.4px;
    height: 160px;
    margin-bottom: 11.2px;
}

nav div:nth-of-type(1)>div:nth-of-type(1)>button {
    /* Server Folder Icon */
    background-image: url("../images/folder.png");
    background-size: cover;
    margin-top: 0px;
    background-color: #36393f;
}

nav div:nth-of-type(1)>div:nth-of-type(1)>button:hover {
    /* Server Folder Icon Hover State*/
    background-color: #2e6f4d;
}

nav div:nth-of-type(1)>div:nth-of-type(1)>button:active {
    /* Server Folder Icon Active State*/
    background-color: #2e6f4d;
}

nav div:nth-of-type(1)>div:nth-of-type(1)>button:focus {
    /* Server Folder Icon Focus State */
    background-color: #ff0000;
    outline: none;
}

nav div:nth-of-type(1)>div>ul>li>a {
    /*Server Icons Link in Server Folder */
    height: 47px;
    width: 47px;
    margin-left: -12.8px;
    margin-top: 8px;
    display: block;
}

nav div:nth-of-type(1)>ul>li>a {
    /*Server Icons Link in Server Folder */
    height: 47px;
    width: 47px;
    margin-top: 8px;
    display: block;
}

nav div:nth-of-type(1)>ul>li>a:hover:before {
    /* Server Icon Active State*/
    content: "";
    background-color: #fff;
    position: absolute;
    height: 24px;
    width: 5px;
    left: 0;
    border-radius: 0 5px 5px 0;
    margin-top: 10px;
    transition: 0.5s;
}

nav div:nth-of-type(1)>ul>li>a:active:before {
    /* Server Icon Active State*/
    margin-top: 0px;
    height: 48px;
    transition: 0.5s;
}

nav div:nth-of-type(1)>ul>li>a:active {
    /* Server Icon Active State*/
    opacity: 80%;
}

nav div:nth-of-type(1)>ul>li>a:focus {
    /* Server Icon Focus State*/
    background-color: #ff0000;
    outline: none;
}

nav div:nth-of-type(1)>ul>li>a>img {
    /* Server Icons */
    background-color: #36393F;
    max-width: 48px;
    max-height: 48px;
    border-radius: 100%;
}

nav div:nth-of-type(1)>button:nth-of-type(1) {
    /* Add-a-server-Button */
    background-image: url("../images/add_server.png");
    background-size: cover;
    background-color: #36393F;
    margin: -6px auto 0;
    display: flex;
    color: #DCDDDE;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    border: none;
}

nav div:nth-of-type(1)>button:nth-of-type(1):hover {
    /* Add-a-server-Button Hover */
    background-image: url("../images/add_server_hover.png");
    background-color: #43b581;
    border-radius: 40%;
    transition: 0.1s;
}

nav div:nth-of-type(1)>button:nth-of-type(1):focus {
    /* Add-a-server-Button Focus */
    background-color: #ff0000;
    outline: none;
}

nav div:nth-of-type(1)>div>button:nth-of-type(1):hover {
    /* Folder Button Hover State */
    background-image: url("../images/folder.png");
    background-color: #24563c;
    background-color: #42464d;
    border-radius: 16px;
    transition: 0.1s;
}

nav div:nth-of-type(1)>div>button:nth-of-type(1):active {
    /* Folder Button Active State */
    background-image: url("../images/folder.png");
    background-color: #24563c;
}

nav div:nth-of-type(1)>ul>li {
    /*Distance between li's */
    margin-top: 3.2px;
}


/* Channel List / DM Conversation List */

nav div:nth-of-type(2) {
    /* Channel List container */
    background-color: #2F3136;
    /* 240px */
    width: 240px;
    /*HIER*/
    color: #8E9297;
    display: flex;
    flex-direction: column;
    border-radius: 16px 16px 0 0;
}

nav div:nth-of-type(2) div:nth-of-type(1) {
    /* Server Name Container */
    height: 50px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 100%;
}

nav div:nth-of-type(2) h2 {
    /* Server Name / "Direct Messages" */
    color: #fff;
    font-size: 1em;
    margin: 16px 0 0 16px;
}

nav div:nth-of-type(2) h2:focus {
    /* Server Name / "Direct Messages" Focus State*/
    background-color: #ff0000;
    outline: none;
}

nav div:nth-of-type(2) div:nth-of-type(1) button:nth-of-type(1) {
    /* Server Settings Button*/
    background-color: transparent;
    color: #fff;
    border: none;
    width: 50px;
    background-image: url("../images/server_settings.png");
    margin: 0px;
}

nav div:nth-of-type(2) div:nth-of-type(1) button:nth-of-type(1):focus {
    /* Server Settings Button Focus State*/
    background-color: #ff0000;
    outline: none;
}

nav div:nth-of-type(2)>button:nth-of-type(1) {
    /* Invite-Members button*/
    height: 36px;
    margin: 15px;
    border-radius: 6.4px;
    border: none;
    background-color: #4F545C;
    color: #fff;
    font-weight: bold;
}

nav div:nth-of-type(2)>button:nth-of-type(1):hover {
    /* Invite-Members button Hover State*/
    background-color: #797d83;
}

nav div:nth-of-type(2)>button:nth-of-type(1):active {
    /* Invite-Members button Active State*/
    background-color: #797d83;
}

nav div:nth-of-type(2)>button:nth-of-type(1):focus {
    /* Invite-Members button Active State*/
    background-color: #ff0000;
    outline: none;
}

nav div:nth-of-type(2) div:nth-of-type(2) {
    /* Channel Category Container*/
    display: flex;
    flex-direction: row;
    border-radius: 0;
    height: 36px;
    width: 100%;
}

nav div:nth-of-type(2) div:nth-of-type(2) button:nth-of-type(1) {
    /* Channel Category Open/Close Button*/
    height: 36px;
    margin: 0px;
    border-radius: 0;
    border: none;
    background-color: transparent;
    color: #8E9297;
    font-weight: bold;
    width: 100%;
    padding-right: 46%;
}

nav div:nth-of-type(2) div:nth-of-type(2) button:nth-of-type(1):hover {
    /* Channel Category Open/Close Button Hover State*/
    background-color: #393c42;
}

nav div:nth-of-type(2) div:nth-of-type(2) button:nth-of-type(1):active {
    /* Channel Category Open/Close Button Active State */
    background-color: #393c42;
}

nav div:nth-of-type(2) div:nth-of-type(2) button:nth-of-type(1):focus {
    /* Channel Category Open/Close Button Focus State */
    background-color: #ff0000;
    outline: none;
}

nav div:nth-of-type(2) div:nth-of-type(2) button:nth-of-type(2) {
    /* Channel Category add-channel-Button */
    width: 14%;
    color: #8E9297;
    font-size: 1.3em;
    border: none;
    background-color: transparent;
    position: absolute;
    margin-left: 194px;
    border-radius: 100%;
    width: 36px;
    height: 36px;
}

nav div:nth-of-type(2) div:nth-of-type(2) button:nth-of-type(2):hover {
    /* Channel Category add-channel-Button Hover State */
    background-color: #292b2f;
}

nav div:nth-of-type(2) div:nth-of-type(2) button:nth-of-type(2):active {
    /* Channel Category add-channel-Button Active State */
    background-color: #292b2f;
}

nav div:nth-of-type(2) div:nth-of-type(2) button:nth-of-type(2):focus {
    /* Channel Category add-channel-Button Active State */
    background-color: #ff0000;
    outline: none;
}

nav>div:nth-of-type(2)>ul {
    /* Text Channel List */
    padding-left: 0px;
    margin-top: 0px;
}

nav>div:nth-of-type(2)>ul>li {
    /* Text Channel List Items */
    padding-left: 0px;
    margin: 5px 10px;
}

nav>div:nth-of-type(2)>ul>li>a {
    /* Text Channel Links */
    padding: 10px 0 10px 20px;
    width: 100%;
    display: block;
    border-radius: 5px;
}

.dm-user-list>ul>li>a {
    /* DM User List Item. Fixed overlap met Text Channel Links*/
    padding: 0 0 0 10px !important;
    display: flex !important;
}

nav>div:nth-of-type(2)>ul:nth-of-type(1)>li:nth-of-type(1)>a {
    /* #general (selected channel) */
    background-color: #42464d;
    color: #fff;
}

nav>div:nth-of-type(2)>ul>li>a:hover {
    /* Hover state Channels */
    background-color: #393c42;
}

nav>div:nth-of-type(2)>ul>li>a:active {
    /* Hover state Channels */
    background-color: #42464d;
    color: #fff;
}

nav>div:nth-of-type(2)>ul>li>a:focus {
    /* Focus state Channels */
    background-color: #ff0000;
    color: #fff;
    outline: none;
}


/* DM Conversation list */

nav div:nth-of-type(2) input {
    /* Conversation Search input */
    color: #8E9297;
    background-color: #202225;
    border: none;
    border-radius: 8px;
    margin: 0 16px;
    padding: 16px;
    font-weight: bold;
    background-image: url("../images/search.png");
    background-repeat: no-repeat;
    background-size: 50px 50px;
    font-size: 12px;
    background-position: 230.4px;
}

nav div:nth-of-type(2) input:hover {
    /* Conversation Search input Hover State*/
    background-color: #595a5e;
    color: #fff;
}

nav div:nth-of-type(2) input:active {
    /* Conversation Search input Active State*/
    background-color: #595a5e;
    color: #fff;
}

nav div:nth-of-type(2) input:focus {
    /* Conversation Search input Focus State*/
    background-color: #ff0000;
    color: #fff;
    outline: none;
}

.dm-user-list>ul {
    /* Conversation ul*/
    /* margin-left: -40px; */
}

.dm-user-list>ul>li {
    /* Conversation li*/
    margin: 16px 0 0 16px;
}

.dm-user-list>ul>li>a>img {
    /* Conversation User Image*/
    width: 40px;
    height: 40px;
    margin-right: 16px;
    border-radius: 100%;
    /* in plaats van links boven bij background-image wordt
    object-fit cover wordt vanuit het midden gepositioneerd */
    object-fit: cover;
}

.dm-user-list>ul>li>a>p {
    /* Conversation User Name*/
    font-weight: bold;
    margin-top: 12.8px;
}

.dm-user-list>ul>li>a {
    /* Conversation User Link*/
    color: #8E9297;
    display: flex;
}

.dm-user-list>div>button {
    /* Invite-friends-to-message button */
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
}

.selectedDM {
    /* DM selected conversation */
    background-color: #42464D;
    padding: 5px 0 0 0;
    border-radius: 6.4px;
    margin-right: 8px !important;
    margin-left: 8px !important;
}


/* Settings enzo */

nav div:nth-of-type(3) {
    /* Settings Container */
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #18191C;
    z-index: 1;
}

nav div:nth-of-type(3)>ul {
    /* Settings List */
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav div:nth-of-type(3)>ul>li {
    /* Settings List Item*/
    width: 20%;
    display: flex;
    justify-content: center;
}

nav div:nth-of-type(3)>ul>li>button {
    /* Settings Buttons*/
    height: 70px;
    max-height: 70px;
    max-width: 70px;
    width: 70px;
    border: none;
    /*HIER*/
    background-color: #18191c;
    background-size: cover;
}

nav div:nth-of-type(3)>ul>li:nth-of-type(1)>button {
    /* Settings Button 1*/
    background-image: url("../images/settings_knop_1.png");
}

nav div:nth-of-type(3)>ul>li:nth-of-type(1)>button:hover {
    /* Settings Button 1 Hover State*/
    background-color: #131416;
}

nav div:nth-of-type(3)>ul>li:nth-of-type(1)>button:active {
    /* Settings Button 1 Active State*/
    background-color: #131416;
}

nav div:nth-of-type(3)>ul>li:nth-of-type(1)>button:focus {
    /* Settings Button 1 Focus State*/
    background-color: #ff0000;
    outline: none;
}

nav div:nth-of-type(3)>ul>li:nth-of-type(2)>button {
    /* Settings Button 2*/
    background-image: url("../images/settings_knop_2.png");
}

nav div:nth-of-type(3)>ul>li:nth-of-type(2)>button:hover {
    /* Settings Button 2 Hover State*/
    background-color: #131416;
}

nav div:nth-of-type(3)>ul>li:nth-of-type(2)>button:active {
    /* Settings Button 2 Active State*/
    background-color: #131416;
}

nav div:nth-of-type(3)>ul>li:nth-of-type(2)>button:focus {
    /* Settings Button 2 Focus State*/
    background-color: #ff0000;
    outline: none;
}

nav div:nth-of-type(3)>ul>li:nth-of-type(3)>button {
    /* Settings Button 3*/
    background-image: url("../images/settings_knop_3.png");
}

nav div:nth-of-type(3)>ul>li:nth-of-type(3)>button:hover {
    /* Settings Button 3 Hover State*/
    background-color: #131416;
}

nav div:nth-of-type(3)>ul>li:nth-of-type(3)>button:active {
    /* Settings Button 3 Active State*/
    background-color: #131416;
}

nav div:nth-of-type(3)>ul>li:nth-of-type(3)>button:focus {
    /* Settings Button 3 Focus State*/
    background-color: #ff0000;
    outline: none;
}

nav div:nth-of-type(3)>ul>li:nth-of-type(4)>button {
    /* Settings Button 4*/
    background-image: url("../images/settings_knop_4.png");
}

nav div:nth-of-type(3)>ul>li:nth-of-type(4)>button:hover {
    /* Settings Button 4 Hover State*/
    background-color: #131416;
}

nav div:nth-of-type(3)>ul>li:nth-of-type(4)>button:active {
    /* Settings Button 4 Active State*/
    background-color: #131416;
}

nav div:nth-of-type(3)>ul>li:nth-of-type(4)>button:focus {
    /* Settings Button 4 Focus State*/
    background-color: #ff0000;
    outline: none;
}

nav div:nth-of-type(3)>ul>li:nth-of-type(5)>button {
    /* Settings Button 5*/
    background-image: url("../images/settings_knop_5.png");
}

nav div:nth-of-type(3)>ul>li:nth-of-type(5)>button:hover {
    /* Settings Button 5 Hover State*/
    background-color: #131416;
}

nav div:nth-of-type(3)>ul>li:nth-of-type(5)>button:Active {
    /* Settings Button 5 Active State*/
    background-color: #131416;
}

nav div:nth-of-type(3)>ul>li:nth-of-type(5)>button:focus {
    /* Settings Button 5 Focus State*/
    background-color: #ff0000;
    outline: none;
}


/* Chat */

main {
    /* Chat Container*/
    width: 360px;
    background-color: #36393F;
    border-radius: 16px 16px 0 0;
    margin: 0 10px;
    position: relative;
}

main>div:nth-of-type(1) {
    /* Channel Name Container */
    height: 50px;
    background-color: #2F3136;
    border-radius: 16px 16px 0 0;
    display: flex;
    z-index: 1;
    /*TEMP*/
    width: 360px;
}

main>div:nth-of-type(1) h3 {
    /* Channel Name / Username */
    font-size: 1em;
    position: absolute;
    margin-left: 50px;
}

main>div:nth-of-type(1) h3:focus {
    /* Channel Name / Username Focus State*/
    background-color: #ff0000;
    outline: none;
}

.dm-user-buttons h3 {
    /* Username style fix*/
    margin-left: 16px;
}

.dm-user-buttons>div {
    /* DM User Button Container */
    margin-left: 64px;
}

.dm-user-buttons>div>button:nth-of-type(1) {
    /* DM User Call Button*/
    background-image: url("../images/call.png") !important;
    background-position: center;
    right: 0;
    margin-right: 100px;
}

.dm-user-buttons>div>button:nth-of-type(2) {
    /* DM User Video Call Button*/
    border-radius: 0 !important;
    background-image: url("../images/video_call.png") !important;
    background-position: center;
}

.dm-user-buttons>div>button:nth-of-type(3) {
    /* DM User Member Button*/
    border-radius: 0 16px 0 0;
    border: none;
    width: 50px;
    background-image: url("../images/friends.png");
    background-size: cover;
    background-position: center;
    background-color: #2F3136;
}

main>div:nth-of-type(1) button {
    /* Chat Title Buttons */
    border-radius: 100% !important;
}

main>div:nth-of-type(1) button:nth-of-type(1) {
    /* Hamburger Menu Button */
    border-radius: 16px 0 0 0;
    border: none;
    width: 50px;
    height: 50px;
    background-color: #2F3136;
    background-image: url("../images/hamburger.png");
    background-size: cover;
    position: absolute;
}

main>div:nth-of-type(1) button:nth-of-type(1):focus {
    /* Hamburger Menu Button Focus State*/
    background-color: #ff0000;
    outline: none;
}

main>div:nth-of-type(1) button:nth-of-type(2) {
    /* Channel Search Button */
    border: none;
    width: 50px;
    height: 50px;
    background-color: #2F3136;
    background-image: url("../images/search.png");
    background-size: cover;
    right: 0;
    position: absolute;
    margin-right: 50px;
}

main>div:nth-of-type(1) button:nth-of-type(2):hover {
    /* Channel Search Button Hover State*/
    background-color: #595a5e;
}

main>div:nth-of-type(1) button:nth-of-type(2):active {
    /* Channel Search Button Active State*/
    background-color: #595a5e;
}

main>div:nth-of-type(1) button:nth-of-type(2):focus {
    /* Channel Search Button Focus State*/
    background-color: #ff0000;
    outline: none;
}

main>div:nth-of-type(1) button:nth-of-type(3) {
    /* Channel Members Button*/
    border-radius: 0 16px 0 0;
    border: none;
    width: 50px;
    height: 50px;
    background-color: #2F3136;
    background-image: url("../images/friends.png");
    background-size: cover;
    right: 0;
    position: absolute;
}

main>div:nth-of-type(1) button:nth-of-type(3):hover {
    /* Channel Member Button Hover State*/
    background-color: #595a5e;
}

main>div:nth-of-type(1) button:nth-of-type(3):active {
    /* Channel Member Button Active State*/
    background-color: #595a5e;
}

main>div:nth-of-type(1) button:nth-of-type(3):focus {
    /* Channel Member Button Focus State*/
    background-color: #ff0000;
    outline: none;
}

main>div:nth-of-type(2) {
    /* Chatbox Container */
    position: absolute;
    bottom: 0;
    display: flex;
    z-index: 0;
    /*TEMP*/
    width: 360px;
    background-color: #36393F;
    padding: 6.4px 0;
}

main>ul {
    /* Chat Messages */
    /*HIER*/
    min-width: 100%;
    position: absolute;
    z-index: 0;
    height: 90%;
    overflow-y: scroll;
    margin: 0 0 0 -40px;
}

main>ul>li {
    /* User List Item*/
    padding-left: 12px;
    padding-top: 1px;
    padding-bottom: 0px;
    /*HIER*/
}

main>ul>li:hover {
    /* User List Item */
    background-color: #2f3237;
}

main>ul>li>div {
    /* User Image and Username */
    display: flex;
}

main>ul>li>p {
    /* User Messages */
    margin-left: 65.6px;
    margin-top: -16px;
}

main>ul>li>p:focus {
    /* User Message Focus State*/
    background-color: #ff0000;
    outline: none;
}

main>ul>li>div>p {
    /* Username */
    margin-left: 16px;
    margin-top: 4px;
    color: #fdb927;
    font-weight: bold;
}

main>ul>li>div>p>a:hover {
    /* Username Link Hover State*/
    text-decoration: underline;
}

main>ul>li>div>p>a:active {
    /* Username Link Active State*/
    text-decoration: underline;
}

main>ul>li>div>p>a:focus {
    /* Username Link Focus State*/
    background-color: #ff0000;
    outline: none;
}

main>ul>li>div>img {
    /* User Image */
    width: 50px;
    height: 50px;
    border-radius: 100%;
    /* in plaats van links boven bij background-image wordt
    object-fit cover wordt vanuit het midden gepositioneerd */
    object-fit: cover;
}

main>ul>li>div>img:hover {
    /* User Image Focus State */
    background-color: #1d2024;
    box-shadow: 0 0 10px #1d2024;
}

main>ul>li>div>img:active {
    /* User Image Focus State */
    box-shadow: 0 0 10px #1d2024;
}

main>ul>li>div>img:focus {
    /* User Image Focus State */
    background-color: #ff0000;
    outline: none;
}

main>ul>li>div>p>span {
    /* Message Time */
    font-size: 0.8em;
    color: #8E9297;
    font-weight: normal;
    word-spacing: -1px;
}

main>ul>li>div>p>span:focus {
    /* Message Time Focus State */
    background-color: #ff0000;
    outline: none;
}

main>div:nth-of-type(2)>input {
    /* Chat Input */
    height: 40px;
    border-radius: 32px;
    border: none;
    padding: 0 16px;
    margin-left: 10px;
    width: 240px;
    background-color: #292B2F;
    color: #DCDDDE;
}

main>div:nth-of-type(2)>input:hover {
    /* Chat Input Hover State */
    background-color: #595a5e;
    color: #fff
}

main>div:nth-of-type(2)>input:active {
    /* Chat Input Active State */
    background-color: #595a5e;
    color: #fff
}

main>div:nth-of-type(2)>input:focus {
    /* Chat Input Focus State */
    background-color: #ff0000;
    color: #fff;
    outline: none;
}

main>div:nth-of-type(2)>button {
    /* Chat Buttons */
    height: 40px;
    width: 40px;
    margin-left: 10px;
    border-radius: 100%;
    border: none;
    background-color: #292B2F;
}

main>div:nth-of-type(2)>button:nth-of-type(1) {
    /* Chat Camera Button */
    background-image: url("../images/camera.png");
    background-size: cover;
}

main>div:nth-of-type(2)>button:nth-of-type(1):hover {
    /* Chat Camera Button Hover State*/
    background-color: #595a5e;
}

main>div:nth-of-type(2)>button:nth-of-type(1):active {
    /* Chat Camera Button Active State*/
    background-color: #595a5e;
}

main>div:nth-of-type(2)>button:nth-of-type(1):focus {
    /* Chat Camera Button Focus State*/
    background-color: #ff0000;
    outline: none;
}

main>div:nth-of-type(2)>button:nth-of-type(2) {
    /* Chat Gallery Button */
    background-image: url("../images/gallery.png");
    background-size: cover;
}

main>div:nth-of-type(2)>button:nth-of-type(2):hover {
    /* Chat Gallery Button Hover State*/
    background-color: #595a5e;
}

main>div:nth-of-type(2)>button:nth-of-type(2):active {
    /* Chat Gallery Button Active State*/
    background-color: #595a5e;
}

main>div:nth-of-type(2)>button:nth-of-type(2):focus {
    /* Chat Gallery Button Focus State*/
    background-color: #ff0000;
    outline: none;
}

main>div:nth-of-type(2)>button:nth-of-type(3) {
    /* Chat Emote Button */
    background-image: url("../images/emotes.png");
    background-size: cover;
    background-color: transparent;
    margin-left: -40px !important;
}

main>div:nth-of-type(2)>button:nth-of-type(3):hover {
    /* Chat Emote Button Hover State*/
    background-color: #595a5e;
}

main>div:nth-of-type(2)>button:nth-of-type(3):active {
    /* Chat Emote Button Active State*/
    background-color: #595a5e;
}

main>div:nth-of-type(2)>button:nth-of-type(3):focus {
    /* Chat Emote Button Focus State*/
    background-color: #ff0000;
    outline: none;
}


/* Members List */

section {
    /* Member List Container */
    background-color: #36393F;
    width: 304px;
    display: flex;
    flex-direction: column;
    border-radius: 16px 16px 0 0;
}

section>h3 {
    /* Member List - Channel Name*/
    background-color: #2F3136;
    width: 100%;
    padding: 20px;
    border-radius: 16px 16px 0 0;
    margin-top: -1px;
}

section>h3:focus {
    /* Member List - Channel Name Focus State*/
    background-color: #ff0000;
    outline: none;
}

section>ul:nth-of-type(1) {
    /* Member List Options List*/
    display: flex;
    background-color: #2F3136;
    padding-left: 2px;
    border-top: 1px solid #4F545C;
    margin-top: -20px;
    padding-bottom: 12px;
}

section>ul:nth-of-type(1)>li {
    /* Member List Options*/
    color: #B8BABD;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
}

section>ul:nth-of-type(2),
section>ul:nth-of-type(3) {
    /* Member Lists*/
    padding-left: 0;
}

section>ul:nth-of-type(2)>li>a,
section>ul:nth-of-type(3)>li>a {
    /* Member Lists Items*/
    padding-left: 40px;
    color: #fdb927;
    font-weight: bold;
}

section>ul:nth-of-type(2)>li>a:hover,
section>ul:nth-of-type(3)>li>a:hover {
    /* Member Lists Items Focus State*/
    background-color: #2f3237;
}

section>ul:nth-of-type(2)>li>a:focus,
section>ul:nth-of-type(3)>li>a:focus {
    /* Member Lists Items Focus State*/
    background-color: #ff0000;
    outline: none;
}

section>ul:nth-of-type(2)>li>a>p,
section>ul:nth-of-type(3)>li>a>p {
    /* Member Lists Item Name*/
    padding-left: 20px;
    color: #fdb927;
    font-weight: bold;
}

section>ul>li>button {
    /* Member List Options Buttons*/
    width: 70px;
    height: 50px;
    border: none;
    background-color: #2F3136;
}

section>ul:nth-of-type(2)>li>a>img,
section>ul:nth-of-type(3)>li>a>img {
    /* Member List - Role 1 & 2 - Profile Image*/
    width: 50px;
    height: 50px;
    border-radius: 100%;
    /* in plaats van links boven bij background-image wordt
    object-fit cover wordt vanuit het midden gepositioneerd */
    object-fit: cover;
}

section>ul>li:nth-of-type(1)>button {
    /* Member List Search Button*/
    background-image: url("../images/Search2.png");
    background-size: cover;
}

section>ul>li:nth-of-type(1)>button:hover {
    /* Member List Search Button Hover State*/
    background-color: #595a5e;
}

section>ul>li:nth-of-type(1)>button:active {
    /* Member List Search Button Active State*/
    background-color: #595a5e;
}

section>ul>li:nth-of-type(1)>button:focus {
    /* Member List Search Button Focus State*/
    background-color: #ff0000;
    outline: none;
}

section>ul>li:nth-of-type(2)>button {
    /* Member List Pins Button*/
    background-image: url("../images/Pins.png");
}

section>ul>li:nth-of-type(2)>button:hover {
    /* Member List Pins Button Hover State*/
    background-color: #595a5e;
}

section>ul>li:nth-of-type(2)>button:active {
    /* Member List Pins Button Active State*/
    background-color: #595a5e;
}

section>ul>li:nth-of-type(2)>button:focus {
    /* Member List Pins Button Focus State*/
    background-color: #ff0000;
    outline: none;
}

section>ul>li:nth-of-type(3)>button {
    /* Member List Notifications Button*/
    background-image: url("../images/Notifications.png");
    background-size: cover;
}

section>ul>li:nth-of-type(3)>button:hover {
    /* Member List Notifications Button Hover State*/
    background-color: #595a5e;
}

section>ul>li:nth-of-type(3)>button:active {
    /* Member List Notifications Button Active State*/
    background-color: #595a5e;
}

section>ul>li:nth-of-type(3)>button:focus {
    /* Member List Notifications Button Focus State*/
    background-color: #ff0000;
    outline: none;
}

section>ul>li:nth-of-type(4)>button {
    /* Member List Settings Button*/
    background-image: url("../images/Settings.png");
    background-size: cover;
}

section>ul>li:nth-of-type(4)>button:hover {
    /* Member List Settings Button Hover State*/
    background-color: #595a5e;
}

section>ul>li:nth-of-type(4)>button:active {
    /* Member List Settings Button Active State*/
    background-color: #595a5e;
}

section>ul>li:nth-of-type(4)>button:focus {
    /* Member List Settings Button Focus State*/
    background-color: #ff0000;
    outline: none;
}

section>ul:nth-of-type(2)>li>a,
section>ul:nth-of-type(3)>li>a {
    /* Member List User */
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

section>ul:nth-of-type(2)>li>p>a,
section>ul:nth-of-type(3)>li>p>a {
    /* Member List Username */
    margin-left: 24px;
}

section>h4 {
    /* Member List Role Names */
    color: #777B83;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    margin: 0 0 0 32px;
}

section>h4:focus {
    /* Member List Role Names Focus State */
    background-color: #ff0000;
    outline: none;
}

section>a {
    /* Member List Invite Members Button*/
    display: flex;
    align-items: center;
    margin-bottom: 38px;
    padding: 10px 0;
}

section>a>img {
    /* Member List Invite Members Button Image*/
    background-image: url("../images/Invite.png");
    background-size: cover;
    width: 50px;
    height: 50px;
    border: none;
    background-color: #2F3136;
    border-radius: 100%;
    margin: 0 25px;
}

section>a:hover {
    background-color: #2f3237;
}

section>a:active {
    background-color: #2f3237;
}

section>a:focus {
    background-color: #ff0000;
    outline: none;
}


/* DM Member List */

.dm-title {
    /* DM Name*/
    display: flex;
}

.dm-title h3 {
    /* DM Name h3*/
    background-color: #2F3136;
    width: 100%;
    padding: 20px;
    border-radius: 16px 0 0 0;
    margin-top: -1px;
}

.dm-title button {
    /* DM Name Button*/
    background-color: #2F3136;
    color: #fff;
    border: none;
    width: 50px;
    background-image: url("../images/server_settings.png");
    border-radius: 0 16px 0 0;
}

.dm-title button:focus {
    /* DM Name Button Focus State*/
    background-color: #ff0000;
    outline: none;
}

.dm-member-buttons li:nth-of-type(1) button {
    /* DM Member List Call Button*/
    background-image: url("../images/call2.png") !important;
}

.dm-member-buttons li:nth-of-type(2) button {
    /* DM Member List Video Call Button*/
    background-image: url("../images/video_call2.png") !important;
}

.dm-member-buttons li:nth-of-type(3) button {
    /* DM Member List Notifications Button*/
    background-image: url("../images/Notifications.png") !important;
}

.dm-member-buttons li:nth-of-type(4) button {
    /* DM Member List Search Button*/
    background-image: url("../images/search2.png") !important;
}

@media only screen and (min-width: 600px) and (max-width: 991px) {
    nav div:nth-of-type(3) {
        /* Settings Container */
        width: 312px;
    }
    main>div:nth-of-type(1)>button:nth-of-type(1) {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    body {
        display: grid;
        /* max-width: 100vw; */
        overflow-x: hidden;
        grid-template-columns: 1fr 8fr 1fr;
    }
    nav div:nth-of-type(3) {
        /* Settings Container */
        width: 312px;
    }
    main {
        /* Chat Container*/
        width: 98.6%;
        grid-column: 2;
    }
    main>div:nth-of-type(1),
    main>div:nth-of-type(2) {
        /* Channel Name Container & Chatbox Container */
        width: 100%;
    }
    main>div:nth-of-type(2)>input {
        /* Chat Input */
        width: 85%;
    }
}


/*Js*/

.hideBottomMenu {
    /* Hide Settings Menu */
    transition: 0.5s;
    transform: translate(0, 100px);
}

.showBottomMenu {
    /* Show Settings Menu */
    transition: 0.5s;
    transform: translate(0, 0);
}

.hide {
    display: none;
}

.closedFolder {
    max-height: 47px;
    border-radius: 19.2px;
}